snippet version
	v1.0, `strftime('%Y-%m-%d', localtime())`:${1: Revision remark}

snippet author
	`g:username` <`g:email`>

snippet header
	`expand('%:t:r')`
	`repeat('=', len(expand('%:t:r')))`
	`g:username` <`g:email`>
	v1.0, `strftime('%Y-%m-%d', localtime())`:${1: Revision remark}

